.toolbar {
  min-height: 40px !important;
}

#titleContent {
  max-width: 100px;
  background-color: #494949;
  margin: 5px -18px;
  padding: 0px 15px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttonsContent {
  height: 40px !important;
  text-align: center;
  margin: auto;
  min-width: 400px;
}
.navButton {
  height: 40px !important;
  width: 40px !important;
}

#navChatButton {
  position: absolute;
  right: 0;
}
.stream-container {
  padding: 0;
}

.bounds {
  background-color: #b2c7d9;
  overflow: hidden;
  position: relative;
  top: 0px;
  bottom: 0px;
  height: inherit;
  min-width: 400px !important;
  width: inherit;
}

.bounds2 {
  background-color: #b2c7d9;
  overflow: hidden;
  position: relative;
  top: 0px;
  bottom: 0px;
  height: inherit;
  width: inherit;
}
/* 
/* opentok layout css */
.container2 {
  height: 100%;
}

.container2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
}
